/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* display: flex; */
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    /* background: #9B59B6; */
}

/*  Navbar */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    background-color: #fff;
}

.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.sticky .logo {
    color: #111;
}

.sticky .navigation li a {
    color: #111;
}

nav .logo {
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
    text-decoration: none;
}

.logo_legal {
    border-radius: 15px;
    width: 190px;
}

nav .logo span {
    color: #ff0157;
}

nav .navigation {
    position: relative;
    display: flex;
}

nav .navigation li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation li a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 1.5em;
    transition: .5s;
}

nav .navigation li a:hover {
    color: #ff0157;
}

nav {
    font-size: 12px;
}

@media screen and (max-width: 650px) {

    .title {
        color: grey;
    }

    /* ................. */

    @media (max-width: 991px) {

        nav,
        nav .sticky {
            padding: 10px 20px;
        }


        nav .navigation {
            display: none;
        }

        nav .navigation.active {
            width: 100%;
            height: calc(100% - 50px);
            position: fixed;
            top: 68px;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #fff;
        }

        nav .navigation li {
            margin-left: 0;
        }

        nav .navigation li a {
            color: #111;
            font-size: 1.6em;
        }

        .menutoggle {
            position: relative;
            width: 40px;
            height: 40px;
            background: url(https://i.postimg.cc/qq7WKZ1m/menu.png);
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }

        .menutoggle.active {
            background: url(https://i.postimg.cc/yNcK65Gc/close.png);
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .sticky .menutoggle {
            filter: invert(1);
        }

        section {
            padding: 20px;
        }

        .banner .content h2 {
            font-size: 3em;
            color: #fff;
        }

        .contactform {
            padding: 40px 30px;
        }

        .sticky {
            padding: 10px 30px;
        }
    }

}

/*  Main calender */
.wrapper {
    /* width: 300px; */
    padding-bottom: -200px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .icons {
    display: flex;
}

header .icons span {
    height: 20px;
    width: 20px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}




.icons span:last-child {
    margin-right: -10px;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .current-date {
    font-size: 1.1rem;
    font-weight: 500;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

/* .calendar .days {
    margin-bottom: 5px;
} */

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.0rem;
    font-weight: 300;
}

.calendar .weeks li {
    font-weight: 400;
    cursor: default;
}

.calendar .days li {
    /* z-index: 1; */
    cursor: pointer;
    position: relative;
    margin-top: 15px;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    background-color: orange;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #FFCC80;
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}

#slot {
    display: block;

}

#slot button {
    width: 100%;
}


/* Footer */
.pg-footer {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

.footer {
    background-color: #032c3d;
    color: #fff;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}

.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}

.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}

.button:last-of-type {
    margin-right: 0;
}

.footer-call-to-action-button {
    background-color: #F89D20;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}

.footer-call-to-action {
    margin-top: 30px;
}

.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}





.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
    width: 24px;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}






/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px) {

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
    }
}

@media (min-width:480px) and (max-width:599px) {

    /* smartphones, Android phones, landscape iPhone */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
    }
}

@media (min-width:600px) and (max-width: 800px) {

    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 1050px;
        position: relative;
    }
}

@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */

}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }

    .footer-wave-svg {
        height: 50px;
    }

    .footer-content-column {
        width: 24.99%;
    }
}

@media (min-width: 568px) {
    .footer-content-column {
        width: 49.99%;
    }


}


/* Base styles for all screen sizes */
#main-container {
    width: 90%;
    box-sizing: border-box;
    margin: auto;

    border: 1px solid teal;
    display: grid;
    /* padding: 2%; */
    grid-template-columns: 25% 15% 40%;
    column-gap: 10%;
}

#main-container>div:nth-child(1) {
    height: fit-content;
}

#main-container>div:nth-child(2) {
    height: fit-content;
    margin-top: 50%;
}

/* Media query for screens with width 600px or less (e.g., mobile devices) */
@media screen and (max-width: 600px) {
    #main-container {
        grid-template-columns: 100%;
        grid-gap: 10px;
    }

    #main-container>div:nth-child(1) {
        margin-top: 20px;
    }

    #main-container>div:nth-child(2) {
        margin-top: 20px;
    }
}

/* Media query for screens with width between 601px and 1024px (e.g., tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    #main-container {
        grid-template-columns: 50% 45%;
        grid-gap: 20px;
    }

    #main-container>div:nth-child(1) {
        margin-top: 40px;
    }

    #main-container>div:nth-child(2) {
        margin-top: 40px;
    }

    #main-container>div:nth-child(3) {
        grid-template-rows: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;
    }
}

/* Media query for screens with width greater than 1024px (e.g., desktops) */
@media screen and (min-width: 1025px) {
    #main-container {
        grid-template-columns: 30% 20% 40%;
        grid-gap: 30px;
    }

    #main-container>div:nth-child(1) {
        /* margin-top: 80px; */
    }

    #main-container>div:nth-child(2) {
        /* margin-top: 80px; */
    }
}